<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
    
    <%- include('./partials/navbar') %>
    <% if (locals.blogs) { %>
        <div class="container w-75 d-flex flex-wrap">
            <% blogs.forEach(blog => { %>
                <div class="card m-4" style="width: 18rem;">
                    <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%=blog.title%></h5>
                    
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
    <%- include('./partials/scripts') %>
</body>
</html>